/* css/components/hero.css */
.hero-fullscreen{
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    color: var(--text-color);
}

.bg-video{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
}

.video-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;

    background-color: rgba(0, 0, 0, 0.5); 

    background-image: 
        linear-gradient(to right, rgba(255, 255, 255, 0.2) 1px, transparent 1px),
        linear-gradient(to bottom, rgba(255, 255, 255, 0.2) 1px, transparent 1px),
        radial-gradient(circle at center, transparent 0%, rgba(0,0,0,0.8) 100%);

    background-size: 50px 50px, 50px 50px, 100% 100%;
    background-position: center center;

    pointer-events: none;
}

.hero-content{
    position: relative;
    z-index: 2;
    text-align: left;
    width: 100%;
}

.game-title{
    font-size: 4em;
    font-weight: 800;
    letter-spacing: 5px;
    margin-bottom: 10px;
    text-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.game-slogan{
    font-size: 1.5em;
    color:var(--text-muted);
    margin-bottom: 30px;
}

.action-buttons{
    display: flex;
    gap: 20px;
}



@media screen and (max-width: 768px) {
    .game-title {
        font-size: 2.5em; /* 电脑上是 4em，手机上改小 */
        letter-spacing: 2px;
    }

    .game-slogan {
        font-size: 1.1em;
    }

    /* 按钮上下排列，而不是左右排列 */
    .action-buttons {
        flex-direction: column;
        width: 80%; /* 按钮稍微宽一点 */
    }
    
    .primary-btn, .secondary-btn {
        width: 100%;
        text-align: center;
    }
}