/* css/global/variables.css */
:root{
    --bg-color:#0a0a0a;
    --card-bg: rgba(255, 255, 255, 0.05);
    --text-color:#ffffff;
    --text-muted:#cccccc;
    --primary-color:#d4b16a;
    --nav-bg:rgba(0,0,0,0.8);
    --shadow:0 4px 20px rgba(0,0,0,0.5);
}